<%= form_for @art do |f| %>
  <% if @art.errors.any? %>
    <ul>
      <% @art.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
 <div>
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>
    <div>
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>


  <%= f.submit %>
<% end %>
